{% extends 'base.html.twig' %}
{% block title %}Ingrédient{% endblock %}
{% block body %}
    <h1>Ingredients list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Nutriscore</th>
                <th>Mesure</th>
                <th>Urlphoto</th>
                <th>Allergene</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td><a href="{{ path('ingredient_show', { 'id': ingredient.id }) }}">{{ ingredient.id }}</a></td>
                <td>{{ ingredient.nom }}</td>
                <td>{{ ingredient.nutriScore }}</td>
                <td>{{ ingredient.mesure }}</td>
                <td>{{ ingredient.urlPhoto }}</td>
                <td>{{ ingredient.allergene }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ingredient_show', { 'id': ingredient.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ingredient_edit', { 'id': ingredient.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ingredient_new') }}">Create a new ingredient</a>
        </li>
    </ul>
{% endblock %}
