<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('/css/base.css') }}" rel="stylesheet"/>
            <link href="{{ asset('/css/recipe.css') }}" rel="stylesheet"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <header></header>
    <style>
        body{background-image:url("{{ asset('/image/bg.jpg') }}");}
        header{background-image:url("{{ asset('/image/IKouq_logo.png') }}");}
         </style>
    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
                crossorigin="anonymous">
        </script>

    {% endblock %}
        {% block body %}{% endblock %}

    </body>
</html>
