{% extends 'base.html.twig' %}
{% block title %}Quantite{% endblock %}
{% block body %}
    <h1>Quantité</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quantite.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ quantite.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('quantite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('quantite_edit', { 'id': quantite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
