{% extends 'base.html.twig' %}
{% block title %}Recette{% endblock %}
{% block body %}
    <h1>Recettes list</h1>
    <ul>
        <li>
            <a href="{{ path('recette_new') }}">Create a new recette</a>
        </li>
    </ul>
    <table>
        <thead>
            <tr>

                <th>Nom</th>
                <th></th>
                <th>Pour</th>
                <th>Duree</th>
                <th>Regime</th>
                <th>Plat</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>

                <td><a href="{{ path('recette_recipe', { 'id': recette.id }) }}">{{ recette.nom }}</a></td>
                <td><img style="width:75px; height:75px;" src="/image/{{ recette.urlPhoto }}"></td>
                <td>{{ recette.part }} pers.</td>
                <td>{{ recette.duree }} min</td>
                <td>{{ recette.regime }}</td>
                <td>{{ recette.plat }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('recette_show', { 'id': recette.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('recette_edit', { 'id': recette.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recette_new') }}">Create a new recette</a>
        </li>
    </ul>
{% endblock %}
