{% extends 'base.html.twig' %}
{% block title %}{{ recette.nom }}{% endblock %}
{% block body %}


    <div class="titre">
            <h1>{{ recette.nom }}</h1>
        </div>
    <div class="container">
        <div class="photo">
                <img style="width: 70%;height:75%;border-radius: 15px" src="/image/{{ recette.urlPhoto }}" alt="{{ recette.nom }}">
        </div>
            <div class="info">
                <div class="topbar">
                    <ul class="regime">
                        <li>{{ recette.plat }} /</li>
                        <li>{{ recette.regime }}</li>
                    </ul>
                </div>
                <div class="part">
                    <div class="pers">
                        <div class="moins">
                            Pour
                            <input type="button" id="moins" value="-" onclick="soustraire()"/>
                        </div>
                        <div id="nbPart">{{ recette.part }}</div>
                    </div>
                    <div class="plus">
                        <input type="button" id="plus" value="+" onclick="ajouter()"/> personnes
                    </div>
                    <div>{{ recette.duree }} minutes</div>
                    </div>
                </div>
    </div>
    <div class="hero">
        <div class="instruction">{{ recette.instruction }}</div>
        <div class="colonne_droite">
            <ul>
                <table>
                    <thead>
                    <tr>
                        <th>Photo</th>
                        <th>quantité</th>
                        <th>mesure</th>
                        <th>ingredient</th>
                        <th>Nutri-score</th>
                        <th>allergene</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for nom, value in quantitesIngredients %}
                        <tr>
                            <td><img style="width:75px; height:75px;border-radius: 15px" src="/image/{{ value.objet.urlPhoto }}"></td>
                            <td class="quantite" id="quant{{ loop.index - 1 }}">{{ value.quantite }}</td>
                            <td>{{ value.objet.mesure }}</td>
                            <td>{{ nom }} </td>
                            <td>{{ value.objet.nutriScore }}</td>
                            <td>{{ value.objet.allergene }}</td>
                        </tr>
                    {% endfor %}
<script type="text/javascript">
    $nombrePart = {{ recette.part }};  // le nombre de part voulu au final
    $quantiteIngredient= $('.quantite');
    $recettePart = {{ recette.part }}; //le nombre de part à la base de la recette
    $resultatIngredient = [];
    i=0;
    j=0;

    function calculIngredient()  //  calcul de la quantite/part
    {
        $.each($quantiteIngredient, function(index)
        {
            $resultatIngredient [i]= [($quantiteIngredient[index].firstChild.data / $recettePart ) *$nombrePart];
            i++;
            console.log ('resulat', $resultatIngredient);
        });
    }
     function fixeIngredient()  // inscris pour  la quantité de l'ingrédinet
     {
         for(j=0;j<$resultatIngredient.length;j++){
             $('#quant'+j).html($resultatIngredient[j]);
         }
     }

    function ajouter()  // ajoute une part
    {
        $nombrePart++;
        $("#nbPart").html($nombrePart);
        $value = $("#nbPart").value;
        calculIngredient();
        fixeIngredient();
        i=0;
    }

    function soustraire() // enlève une part
    {
        if ($nombrePart <= 1) {
            $nombrePart = 1;
        }else{
            $nombrePart--;
            $("#nbPart").html($nombrePart);
            calculIngredient();
            fixeIngredient();
            i=0;
        }
    }
</script>
                    </tbody>
                </table>
            </ul>
        </div>
    </div>
    <div class="retour">
        <button type="button"><a href="javascript:history.go(-1)">Retour</a></button>
    </div>

{% endblock %}
