{% extends 'base.html.twig' %}
{% block title %}{{ recette.nom }}{% endblock %}
{% block body %}


    <div class="titre">
            <h1>{{ recette.nom }}</h1>
        </div>
    <div class="container">
        <div class="photo">
                <img style="width: 70%;height:75%;border-radius: 15px" src="/image/{{ recette.urlPhoto }}" alt="{{ recette.nom }}">
        </div>
        <div class="info">
            <div class="topbar">
                <ul class="platRegime">
                    <li>{{ recette.plat }}/</li>
                    <li>{{ recette.regime }}(icone)</li>
                </ul>
            </div>
            <div class="part">
                <div class="pers">
                    <div class="moins">
                        Pour
                        <input type="button" id="moins" value="-" onclick="soustraire()"/>
                    </div>
                    <div id="nbPart">{{ recette.part }}</div>
                </div>
                <div class="plus">
                    <input type="button" id="plus" value="+" onclick="ajouter()"/> <i class="fas fa-user"></i>
                </div>
                <div>{{ recette.duree }} min <i class="far fa-clock"></i></div>
            </div>
        </div>
    </div>

    <div class="hero">
        <ul id="ongletsPlat">
            <li >Instructions</li>
            <li class="actif">Ingrédients</li>
        </ul>
        <div id="contenu">
            <div class="item">
                <div class="instruction">{{ recette.instruction |raw }}</div>
            </div>
            <div class="item">
                <div class="colonne_droite">
                    <ul>
                        <table>
                            <thead>
                                <tr>
                                    <th><a href='{{ path('liste_course',{'id': recette.id}) }}'>Liste de course</a></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Allergènes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for nom, value in quantitesIngredients %}
                                <tr>
                                    <td><img style="width:75px; height:75px;border-radius: 15px" src="/image/{{ value.objet.urlPhoto }}"></td>
                                    <td class="quantite" id="quant{{ loop.index0 }}" >{{ value.quantite }}</td>
                                    <td>{{ value.objet.mesure }} de {{ nom }}</td>
                                    <td>{% if (value.objet.nutriScore == '1') %}<img style="width:75px; height:42px;border-radius: 15px" src="{{ asset('image/NS_a.png') }}">{% endif %}
                                        {% if (value.objet.nutriScore == '2') %}<img style="width:75px; height:42px;border-radius: 15px" src="{{ asset('/image/NS_b.png') }}">{% endif %}
                                        {% if (value.objet.nutriScore == '3') %}<img style="width:75px; height:42px;border-radius: 15px" src="{{ asset('/image/NS_c.png') }}">{% endif %}
                                        {% if (value.objet.nutriScore == '4') %}<img style="width:75px; height:42px;border-radius: 15px" src="{{ asset('/image/NS_d.png') }}">{% endif %}
                                        {% if (value.objet.nutriScore == '5') %}<img style="width:75px; height:42px;border-radius: 15px" src="{{ asset('/image/NS_e.png') }}">{% endif %}
                                    </td>
                                    <td>{% if (value.objet.allergene  == 'none') == false %}
                                        {{ value.objet.allergene }}
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                                {% endfor %}
                        </table>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="retour">
        <button type="button"><a href="javascript:history.go(-1)">Retour</a></button>
    </div>


<script type="text/javascript">
    $nombrePart = {{ recette.part }};  // le nombre de part voulu au final
    $quantiteIngredient= $('.quantite');
    $recettePart = {{ recette.part }}; //le nombre de part à la base de la recette
    $resultatIngredient = [];
    $totalIng = [];
    i=0;
    j=0;
    calculIngredient();

    function calculIngredient()  //  calcule de la quantite/part
    {
        $.each($quantiteIngredient, function(index)
        {
            $resultatIngredient [i]= [($quantiteIngredient[index].firstChild.data / $recettePart ) ];
            i++;
        });
    }

    function fixeIngredient()  // inscris pour  la quantité de l'ingrédinet
     {
         for(j=0;j<$resultatIngredient.length;j++){
             $totalIng[j] = Math.round($resultatIngredient[i] * $nombrePart) ;
             i++;
             $('#quant'+j).html($totalIng[j]);
         }console.log ($resultatIngredient, $totalIng);
     }

    function add()  // ajoute une part
    {
        $nombrePart++;
        $("#nbPart").html($nombrePart);
        $value = $("#nbPart").value;
        fixeIngredient();
        i=0;
    }

    function subtract() // enlève une part
    {
        if ($nombrePart <= 1) {
            $nombrePart = 1;
        }else{
            $nombrePart--;
            $("#nbPart").html($nombrePart);
        }i=0;
    }
//-----------ces deux fonctions permettent de temporisé les évènements dans l'affichage----
    function ajouter() {
        add();
        fixeIngredient();
    }

    function soustraire() {
        subtract();
        fixeIngredient()
    }
</script>
<script>
    //-------------------système d'onglets------------------------
    $(function() {
        $('#ongletsPlat').css('display', 'block');
        $('#ongletsPlat').click(function(event)
        {
            var actuel = event.target;
            if (!/li/i.test(actuel.nodeName) || actuel.className.indexOf('actif') > -1) {
                return;
            }
            $(actuel).addClass('actif').siblings().removeClass('actif');
            setDisplay();
        });
        function setDisplay() {
            var modeAffichage;
            $('#ongletsPlat li').each(function(rang)
            {
                modeAffichage = $(this).hasClass('actif') ? '' : 'none';
                $('.item').eq(rang).css('display', modeAffichage);
            });
        }
        setDisplay();
    });
</script>
{% endblock %}
