{% extends 'base.html.twig' %}
{% block title %}{{ recette.nom }}{% endblock %}
{% block body %}


    <div class="titre">
            <h1>{{ recette.nom }}</h1>
        </div>
    <div class="container">
        <div class="photo">
                <img style="width: 70%;height:75%;border-radius: 15px" src="/image/{{ recette.urlPhoto }}" alt="{{ recette.nom }}">
        </div>
            <div class="info">
                <div class="topbar">
                    <ul class="regime">
                        <li>{{ recette.plat }} /</li>
                        <li>{{ recette.regime }}</li>
                    </ul>
                </div>
                <div class="part">
                    <div class="pers">
                        <div class="moins">
                            Pour
                            <input type="button" id="moins" value="-" onclick="subtract()"/>
                        </div>
                        <div id="nbPart" >{{ recette.part }}</div>
                        <script type="text/javascript">

                            $count = {{ recette.part }};
                            function add(){
                                $count++;
                                $("#nbPart").html($count);
                                return $count;
                            }
                            function subtract(){
                                if ($count <= 1) {
                                    $count = 1;
                                }else{
                                    $count--;
                                    $("#nbPart").html($count);
                                    return $count;
                                }
                            }
                        </script>
                    </div>
                        <div class="plus">
                            <input type="button" id="plus" value="+" onclick="add()"/> personnes
                        </div>
                    <div>{{ recette.duree }} minutes</div>
                </div>
            </div>
    </div>
    <div class="hero">
        <div class="instruction">{{ recette.instruction }}</div>
        <div class="colonne_droite">
            <ul>
                <table>
                    <thead>
                    <tr>
                        <th>Photo</th>
                        <th>quantité</th>
                        <th>mesure</th>
                        <th>ingredient</th>
                        <th>Nutri-score</th>
                        <th>allergene</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for nom, value in quantitesIngredients %}
                        <tr>
                            <td><img style="width:75px; height:75px;" src="/image/{{ value.objet.urlPhoto }}"></td>
                            <td id="quantite">{{ value.quantite }}</td>
                            <td>{{ value.objet.mesure }}</td>
                            <td>{{ nom }} </td>
                            <td>{{ value.objet.nutriScore }}</td>
                            <td>{{ value.objet.allergene }}</td>
                        </tr>
                        <script type="text/javascript">

                            $value = $("#nbPart").value;
                            $qIngredient= {{ value.quantite }};
                            $rPart = {{ recette.part }};
                            $plop = ( $qIngredient / $rPart ) * $count;
                     //       $('#quantite').html($plop);

                            console.log('A ' +$count);
                            console.log('B ' +$qIngredient);
                            console.log("C " +$rPart);
                            console.log("D " +$plop);


                        </script>
                    {% endfor %}
                    </tbody>
                </table>
            </ul>
        </div>
    </div>
    <div class="retour">
        <button type="button"><a href="javascript:history.go(-1)">Retour</a></button>
    </div>

{% endblock %}
