{% extends 'base.html.twig' %}
{% block title %}{{ recette.nom }}{% endblock %}
{% block body %}


    <div class="titre">
            <h1>{{ recette.nom }}</h1>
        </div>
    <div class="container">
        <div class="photo">
                <img style="width: 70%;height:75%;border-radius: 15px" src="/image/{{ recette.urlPhoto }}" alt="{{ recette.nom }}">
        </div>
            <div class="info">
                <div class="topbar">
                    <ul class="regime">
                        <li>{{ recette.plat }} /</li>
                        <li>{{ recette.regime }}</li>
                    </ul>
                </div>
                <div class="part">
                    <div class="pers">
                        <div class="moins">
                            <input type="button" value="-"/>
                        </div>
                        <div class="nb-pers" recette-part="{{ recette.part }}">{#uniquement la syntax => a voir avec du jquery.#}
                            <script>
                                document.addEventListener('DOMContentLoaded', function(){
                                    var nbPers = document.querySelector('.nb-pers');
                                    var nbPersRecette = nbPers.recettePart;
                                });
                            </script>
                        </div>
                        <div class="plus">
                            <input type="button" class="plus" value="+"/>
                        </div>
                    </div>
                    <div>{{ recette.duree }} minutes</div>

                </div>
            </div>
    </div>
    <div class="hero">
        <div class="instruction">{{ recette.instruction }}</div>
        <div class="colonne_droite">
            <ul>
                <table>
                    <thead>
                    <tr>

                        <th>Photo</th>
                        <th>quantité</th>
                        <th>mesure</th>
                        <th>ingredient</th>
                        <th>Nutri-score</th>
                        <th>allergene</th>
{#                        Mettre a part et nom pour chaque ingredient #}
                    </tr>
                    </thead>
                    <tbody>
                    {% for nom, value in quantitesIngredients %}

                        <tr>
                            <td><img style="width:75px; height:75px;" src="/image/{{ value.objet.urlPhoto }}"></td>
                            <td>{{ value.quantite }} </td>
                            <td>{{ value.objet.mesure }}</td>
                            <td>{{ nom }} </td>
                            <td>{{ value.objet.nutriScore }}</td>
                            <td>{{ value.objet.allergene }}</td>

                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </ul>
        </div>
    </div>
    <div class="retour">
        <button type="button"><a href="javascript:history.go(-1)">Retour</a></button>
    </div>

{% endblock %}
