{% extends 'base.html.twig' %}
{% block title %}{{ recette.nom }}{% endblock %}
{% block body %}


    <div class="titre">
            <h1>{{ recette.nom }}</h1>
        </div>
    <div class="container">
        <div class="photo">
                <img style="width: 70%;height:75%;border-radius: 15px" src="/image/{{ recette.urlPhoto }}" alt="{{ recette.nom }}">
        </div>
            <div class="info">
                <div class="topbar">
                    <ul class="regime">
                        <li>{{ recette.plat }} /</li>
                        <li>{{ recette.regime }}</li>
                    </ul>
                </div>
                <div class="part">
                    <div class="pers">
                        <div class="moins">
                            Pour
                            <input type="button" id="moins" value="-" onclick="subtract()"/>
                        </div>
                        <div id="nbPart"  >{{ recette.part }}</div>
                    </div>
                    <div class="plus">
                        <input type="button" id="plus" value="+" onclick="add()"/> personnes
                    </div>
                    <div>{{ recette.duree }} minutes</div>
                    </div>
                </div>
    </div>
    <div class="hero">
        <div class="instruction">{{ recette.instruction }}</div>
        <div class="colonne_droite">
            <ul>
                <table>
                    <thead>
                    <tr>
                        <th>Photo</th>
                        <th>quantité</th>
                        <th>mesure</th>
                        <th>ingredient</th>
                        <th>Nutri-score</th>
                        <th>allergene</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for nom, value in quantitesIngredients %}
                        <tr>
                            <td><img style="width:75px; height:75px;border-radius: 15px" src="/image/{{ value.objet.urlPhoto }}"></td>
                            <td class="quantite">{{ value.quantite }}</td>
                            <td>{{ value.objet.mesure }}</td>
                            <td>{{ nom }} </td>
                            <td>{{ value.objet.nutriScore }}</td>
                            <td>{{ value.objet.allergene }}</td>
                        </tr>
                    {% endfor %}
<script type="text/javascript">
    $nombrePart = {{ recette.part }};
    $quantiteIngredient= $('.quantite');
    $recettePart = {{ recette.part }};

    function ingredient()
    {
        $.each($quantiteIngredient, function(index)
        {
            console.log('value '+$quantiteIngredient[index].firstChild.data);
            $resultatIngredient = ($quantiteIngredient[index].firstChild.data / $recettePart ) *$nombrePart;
            console.log ('resulat '+$resultatIngredient);
            document.getElementsByClassName("quantite")
            

             //$('.quantite').html($resultatIngredient);
        });
    }

    function add()
    {
        $nombrePart++;
        $("#nbPart").html($nombrePart);
        $value = $("#nbPart").value;
        ingredient();
    }

    function subtract()
    {
        if ($nombrePart <= 1) {
            $nombrePart = 1;
        }else{
            $nombrePart--;
            $("#nbPart").html($nombrePart);
            ingredient();
        }
    }

</script>
                    </tbody>
                </table>
            </ul>
        </div>
    </div>
    <div class="retour">
        <button type="button"><a href="javascript:history.go(-1)">Retour</a></button>
    </div>

{% endblock %}
